{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}

{% block page_title %}

{% endblock %}

{% block content %}
<style>
    [data-bs-original-title] {
     
        color: rgb(10, 100, 108); 
    }
   
    .tooltip .tooltip-inner {
    color: rgb(0, 0, 0); 
    }


    .tooltip .tooltip-inner {
    background-color: rgb(255, 255, 255); 
    }
</style>
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">
                    <div class="box pull-up">
                        <div class="box-body bg-img"
                            style="background-image: url(../images/bg-5.png);"
                            data-overlay-light="9">
                            <div
                                class="d-lg-flex align-items-center justify-content-between">
                                <div
                                    class="d-md-flex align-items-center mb-30 mb-lg-0 w-p100">
                                    <img
                                        src="{% static 'traning.svg' %}"
                                        class="img-fluid max-w-150" alt />
                                    <div class="ms-30">
                                        <h4 class="mb-10">Advancing your skills
                                            through courses can be a great way
                                            to achieve your goals.</h4>
                                        <p class="mb-0 text-fade">Concepts
                                            Covered in Core Python· Python
                                            Fundamentals · OOPs Concepts ·
                                            Overloading & Overriding ·
                                            Inheritance with Interface and
                                            Abstract Class · Exception Handling
                                            ... </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <!-- <div class="col-12">
                        <div class="box no-shadow mb-0 bg-transparent">
                            <div class="box-header no-border px-0">
                                <h4 class="box-title">Course</h4>
                                
                            </div>
                        </div>
                    </div> -->
                    <div class="col-xxl-4 col-xl-4 col-lg-12 col-12 col-sm-12">
                        <div class="box">
     
                            <div class="box-body pull-up" style="box-shadow: rgba(212, 210, 210, 0.2) 0px 2px 8px 0px;">
                              <div class="card pull-up" style="border: none;box-shadow:none">
                                <img class="card-img-top" style="height: 200px;border-radius:1%" src="{% static 'pythoncourse.png' %}" alt="Card image cap">
                                <div class="card" style="border: none;box-shadow:none;padding-top:10px">
                                 <div style="text-align: center;" class="mt-3">
                                  <h5 class="">Complete Traning Python</h5>
                                 </div>
                                <div class="row mt-3">
                                  <div class="col-1" style="text-align: end;">
                                
                                    
                                  </div>
                                  <div class="col-6"  >

                                    <p class=""><i class="fa fa-code" aria-hidden="true" style="color: #068bb0;"></i> {{count}} Problem</p>
                                    
                                   
                                    
                                  </div>
                                  <div class="col">
                                    <p class=""><i class="fa fa-file-code-o" aria-hidden="true" style="color: #068bb0;"></i>  Python</p>
                                   
                                    
                                  </div>
              
                                </div>
                                <!-- <a class="btn btn-sucess" href="" style="background-color: #068bb0;color:white;font-weight:800;padding:10px ;width:200px;margin-left:20% ; margin-top:5%">Start Watching Now</a> -->
              
                                </div>
                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-8" style="overflow: scroll;">
                        <div class="box" >
                            <div class="box-body ribbon-box">
                                <div class="ribbon ribbon-primary">Python complete
                                    Full Traning</div>
                                <p class="mb-0">

                                    {% for i in data %}
                                    <a
                                        href="">
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="box pull-up">
                                                <div class="box-body bg-img"
                                                    style="background-image: url(../images/bg-5.png);"
                                                    data-overlay-light="9">
                                                    <div
                                                        class="d-lg-flex align-items-center justify-content-between">
                                                        <div
                                                            class="d-md-flex align-items-center mb-30 mb-lg-0 w-p100">
                                                            <img
                                                                src="{% static 'pythonlogo.png' %}"
                                                                class="img-fluid max-w-40"
                                                                alt />
                                                            <div class="ms-30">
                                                                <p
                                                                    class="mb-10 text-fade">{{i.selecttype}}
                                                                </p>
                                                                <h4
                                                                    class="mb-0">
                                                                    {{i.title}}</h4>

                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="flexbox align-items-center mt-3">
                                                                <div class="btn-group">
                                                                  <a class="btn btn-xs" href="{% url 'ptraningviewedit' id=i.id %}" data-bs-toggle="tooltip" title="Edit Title"  ><i class="fa fa-edit"></i></a>
                                                                  <a class="btn btn-xs" href="{% url 'ptraningvideoeditview' id=i.id %}" data-bs-toggle="tooltip" title="Edit video"  ><i class="fa fa fa-video-camera"></i></a>
                
                                                                  <a class="btn btn-xs" href="{% url 'ptraningmcqeditview' id=i.id %}" data-bs-toggle="tooltip" title="Edit MCQ" ><i class="fa fa-sticky-note-o"></i></a>

                                                                  <a class="btn btn-xs" href="{% url 'ptraningtestdelete' id=i.id %}" data-bs-toggle="tooltip" title="Edit Test" ><i class="fa fa-sticky-note-o"></i></a>

                                                                
                                                                </div>
                                          
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    
                                    <!--  -->
                                    {% endfor %}

                                </p>
                            </div> <!-- end box-body-->
                        </div>
                    </div> <!-- end col-->
                </div>

            </div>
        </section>

    </div>
</div>

{% endblock content %}