{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <div class="box">
                <!-- <div class="row">
                    <div class="col-12">
                        <div class="box bg-gradient-primary overflow-hidden pull-up">
                            <div class="box-body pe-0 ps-lg-50 ps-15 py-0">							
                                <div class="row align-items-center">
                                    <div class="col-12 col-lg-8">
                                        <h1 class="fs-30 text-white">Welcome Your Traning Section Start !</h1>
                                        <p class="text-white mb-0 fs-20">
                                            Learning patience can be a difficult experience, but once conquered, you will find life is easier
                                        </p>
                                    </div>
                                    <div class="col-12 col-lg-4"><img src="https://eduadmin-template.multipurposethemes.com/bs5/images/svg-icon/color-svg/custom-15.svg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-12">
                    <!-- Default box -->
                    {% for i in data %}
                    <div class="box">
                    <div class="box-header with-border">
                        
                                     
                                     
                        <h4 class="box-title">{{i.title}} </h4>

                      
                      
                      </div>
                    <div class="box-body">
                       

                        <!-- demo -->
                        <div class="row">
                            <div class="col-md-12">
                                <video id="myVideo" width="100%" height="100px" controls
                                    controlsList="noplaybackrate nodownload ">
                               

                                    <source src="{{ i.video_file.url }}" type="video/mp4">
                                    Your browser does
                                    not support the
                                    video tag.
                           

                                </video>

                            </div>
                            <br>
                            <div class="col-md-12 " style="margin-top: 35px;">
                                <div id="slimtest1">
                                  
                                    {{i.content | safe}}
                                 
                                </div>
                            </div>
                        </div>
                        <!-- demo -->


                        
                    </div>
                    <!-- /.box-body -->
                    <!-- </div> -->
                    <!-- /.box -->
                   

               
               

                {%endfor%}
                    
                </div>

            </div>
            
        </section>
    </div>
</div>


<script>



    let vid = document.getElementById("myVideo");

    function getVolume() {
        alert(vid.volume);
    }

    function setHalfVolume() {
        vid.volume = 0.2;
    }

    function setFullVolume() {
        vid.volume = 2.0;
    }
    vid.onratechange = function () {
        vid.playbackRate = 1;
    };

    document.addEventListener('DOMContentLoaded', function () {
        var video = document.getElementById('myVideo');

        // Variables for drag functionality
        var isDragging = false;
        var startX;
        var endX;

        video.addEventListener('mousedown', function (e) {
            isDragging = true;
            startX = e.clientX;
            endX = e.clientX;
        });

        video.addEventListener('mouseup', function (e) {
            if (isDragging) {
                isDragging = false;
                var deltaX = e.clientX - startX;
                var newTime = video.currentTime + (deltaX / video.offsetWidth) * video.duration;
                video.currentTime = Math.max(0, Math.min(video.duration, newTime));
            }
        });

        video.addEventListener('mousemove', function (e) {
            if (isDragging) {
                endX = e.clientX;
            }
        });

        video.addEventListener('mouseleave', function (e) {
            if (isDragging) {
                isDragging = false;
                var deltaX = endX - startX;
                var newTime = video.currentTime + (deltaX / video.offsetWidth) * video.duration;
                video.currentTime = Math.max(0, Math.min(video.duration, newTime));
            }
        });

        video.addEventListener('ended', function () {
            video.play();
        });
    });

</script>
{% endblock content %}