{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<style>
    [data-bs-original-title] {
     
        color: rgb(10, 100, 108); 
    }
   
    .tooltip .tooltip-inner {
    color: rgb(0, 0, 0); 
    }


    .tooltip .tooltip-inner {
    background-color: rgb(255, 255, 255); 
    }
</style>
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
          
         
            <div class="box-header with-border">
                <h4 class="box-title">Upload Topic</h4>
               
            </div>
            <div class="box-body">
               <form action="{% url 'ctraningviewupload' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Choose
                        Chapter</label>
                    <div class="col-md-10">
    
                        <select
                            class="form-control select2"
                            style="width: 40%;"
                            id="chapterselet" name="data3">
                            <option>.</option>
                            <option
                                value="Chapter 1">Chapter
                                1</option>
                            <option
                                value="Chapter 2">Chapter
                                2</option>
                            <option
                                value="Chapter 3">Chapter
                                3</option>
                            <option
                                value="Chapter 4">Chapter
                                4</option>
                            <option
                                value="Chapter 5">Chapter
                                5</option>
                            <option
                                value="Chapter 6 ">Chapter
                                6
                            </option>
                            <option
                                value="Chapter 7">Chapter
                                7</option>
                            <option
                                value="Chapter 8">Chapter
                                8</option>
                            <option
                                value="Chapter 9">Chapter
                                9</option>
                            <option
                                value="Chapter 10">Chapter
                                10</option>
                            <option
                                value="Chapter 11">Chapter
                                11</option>
                            <option
                                value="Chapter 12">Chapter
                                12</option>
                            <option
                                value="Chapter 13">Chapter
                                13</option>
                            <option
                                value="Chapter 14">Chapter
                                14</option>
                            <option
                                value="Chapter 15">Chapter
                                15</option>
                            <option
                                value="Chapter 16">Chapter
                                16</option>
                            <option
                                value="Chapter 17">Chapter
                                17</option>
                            <option
                                value="Chapter 18">Chapter
                                18</option>
                            <option
                                value="Chapter 19">Chapter
                                19</option>
                            <option
                                value="Chapter 20">Chapter
                                20</option>
                            <option
                                value="Chapter 21">Chapter
                                21</option>
                            <option
                                value="Chapter 22">Chapter
                                22</option>
                            <option
                                value="Chapter 23">Chapter
                                23</option>
                            <option
                                value="Chapter 24">Chapter
                                24</option>
                            <option
                                value="Chapter 25">Chapter
                                25</option>
                            <option
                                value="Chapter 26">Chapter
                                26</option>
                            <option
                                value="Chapter 27">Chapter
                                27</option>
    
                        </select>
    
                    </div>
                </div>
                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Title
                    </label>
                    <div class="col-md-6">
                        <input class="form-control"
                            type="text" required
                            placeholder="Mini-Max Sum,"
                            id="title_select" name="data2">
                    </div>
    
                    <div class="col-md-4">
                        <button class="btn btn-success"
                          type="submit">+
                            Add Title
                        </button>
                    </div>
                </div>
               </form>
            </div>
            
        </section>


        <section class="content">
            <div class="row">

                <div class="col-lg-12 col-md-6 col-12">
                  
                </div>
                
                <div class="row">
                   
                    <div class="col-xxl-4 col-xl-4 col-lg-12 col-12 col-sm-12">
                        <div class="box">
     
                            <div class="box-body pull-up" style="box-shadow: rgba(212, 210, 210, 0.2) 0px 2px 8px 0px;">
                              <div class="card pull-up" style="border: none;box-shadow:none">
                                <img class="card-img-top" style="height: 200px;border-radius:1%" src="{% static 'c_course.jpg' %}" alt="Card image cap">
                                <div class="card" style="border: none;box-shadow:none;padding-top:10px">
                                 <div style="text-align: center;" class="mt-3">
                                  <h5 class="">Complete Traning C</h5>
                                 </div>
                                <div class="row mt-3">
                                  <div class="col-1" style="text-align: end;">
                                
                                    
                                  </div>
                                  <div class="col-6"  >

                                    <p class=""><i class="fa fa-code" aria-hidden="true" style="color: #068bb0;"></i> {{count}} Problem</p>
                                    
                                   
                                    
                                  </div>
                                  <div class="col">
                                    <p class=""><i class="fa fa-file-code-o" aria-hidden="true" style="color: #068bb0;"></i>  C</p>
                                   
                                    
                                  </div>
              
                                </div>
                                <!-- <a class="btn btn-sucess" href="" style="background-color: #068bb0;color:white;font-weight:800;padding:10px ;width:200px;margin-left:20% ; margin-top:5%">Start Watching Now</a> -->
              
                                </div>
                               
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-8" style="overflow: scroll;">
                        <div class="box" >
                            <div class="box-body ribbon-box">
                                <div class="ribbon ribbon-primary">C complete
                                    Full Traning</div>
                                <p class="mb-0">

                                    {% for i in data %}
                                    <a
                                        href="">
                                        <div class="col-lg-12 col-md-6 col-12">
                                            <div class="box pull-up">
                                                <div class="box-body bg-img"
                                                    style="background-image: url(../images/bg-5.png);"
                                                    data-overlay-light="9">
                                                    <div
                                                        class="d-lg-flex align-items-center justify-content-between">
                                                        <div
                                                            class="d-md-flex align-items-center mb-30 mb-lg-0 w-p100">
                                                            <img
                                                                src="https://www.kindpng.com/picc/m/403-4039227_c-language-logo-png-transparent-png.png"
                                                                class="img-fluid max-w-40"
                                                                alt />
                                                            <div class="ms-30">
                                                                <p
                                                                    class="mb-10 text-fade">{{i.selecttype}}
                                                                </p>
                                                                <h4
                                                                    class="mb-0">
                                                                    {{i.title}}</h4>

                                                            </div>
                                                        </div>
                                                        <div>
                                                            <div class="flexbox align-items-center mt-3">
                                                                <div class="btn-group">
                                                                  <a class="btn btn-xs" href="{% url 'ctraningviewedit' id=i.id %}" data-bs-toggle="tooltip" title="Edit Title"  ><i class="fa fa-edit"></i></a>
                                                                  <a class="btn btn-xs" href="{% url 'ctraningvideoeditview' id=i.id %}" data-bs-toggle="tooltip" title="Edit video"  ><i class="fa fa fa-video-camera"></i></a>
                
                                                                  <a class="btn btn-xs" href="{% url 'ctraningmcqeditview' id=i.id %}" data-bs-toggle="tooltip" title="Edit MCQ" ><i class="fa fa-sticky-note-o"></i></a>

                                                                  <a class="btn btn-xs" href="{% url 'ctraningtestdelete' id=i.id %}" data-bs-toggle="tooltip" title="Edit Test" ><i class="fa fa-sticky-note-o"></i></a>

                                                                
                                                                </div>
                                          
                                                              </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    
                                    <!--  -->
                                    {% endfor %}

                                </p>
                            </div> <!-- end box-body-->
                        </div>
                    </div> <!-- end col-->
                </div>

            </div>
        </section>
    </div>
</div>

<script>
 
</script>

{% endblock content %}