{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">

         
            <div class="box-header with-border">
                <h4 class="box-title">Upload Video</h4>
               
            </div>
            <div class="box-body">
                <form method="post"
                action="{% url 'videoupload' %}" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Choose
                        Topic upload</label>
                    <div class="col-md-10">

                        <select
                            class="form-control select2"
                            style="width: 30%;"
                            name="type">

                            {% for i in data %}
                            <option
                                value={{i.id}}>{{i.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Upload
                        Video</label>
                    <div class="col-md-10">
                        <input type="file" name="video_file" accept="video/*" required><br>
                    </div>
                </div>
                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Content
                        of Video</label>
                    <div class="col-md-10">
                        <textarea id="editor"
                            name="content"></textarea>
                    </div>
                </div>
                <br>
                <br>
                
                <div class="form-group row">
                    <!-- <label
                        class="col-form-label col-md-2">Your Upload Topics</label>
                    <div class="col-md-4">

                        <select
                            class="form-control select2"
                            style="width: 100%;"
                            name="type">

                            {% for i in data %}
                            <option
                                value={{i.id}}>{{i.title}}</option>
                            {% endfor %}
                        </select>
                    </div> -->
                   
                    <div class="col-md-2">
                        <!-- <button class="btn btn-info" onclick="location.href='{% url 'topicupload' %}'"> previous </button> -->
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-info" onclick="location.href='{% url 'topicupload' %}'"> Previous </button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info" type="submit" onclick="location.href='{% url 'mcqupload' %}'"> Save & Next</button>
                    </div>
                </div>
                <!-- <button type="submit" class="btn btn-success">Save</button> -->

            </form>
            </div>
            
        </section>
    </div>
</div>
<script
    src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
    ClassicEditor
    .create( document.querySelector( '#editor2' ) )
    .catch( error => {
        console.error( error );
    } );
    ClassicEditor
    .create( document.querySelector( '#editor3' ) )
    .catch( error => {
        console.error( error );
    } );
    ClassicEditor
    .create( document.querySelector( '#editor1' ) )
    .catch( error => {
        console.error( error );
    } );
    ClassicEditor
    .create( document.querySelector( '#editor5' ) )
    .catch( error => {
        console.error( error );
    } );
</script>

{% endblock content %}