{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<style>
    .circular-progress {
      position: relative;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
    
    .circular-progress:before {
      content: "";
      position: absolute;
      height: 70%;
      width: 70%;
      background-color: #ffffff;
      border-radius: 50%;
    }
    
    .value-container {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      color: #1c3d23;
    }
  </style>
<div class="content-wrapper">
    <div class="container-full">
       <section class="content">

        <div class="row">

            <div class="col-lg-12 col-12">
                <div class="box pull-up">
                    <div class="box-body bg-img" style="background-image: url(../images/bg-5.png);" data-overlay-light="9">
                        <div class="d-lg-flex align-items-center justify-content-between">
                            <div class="d-md-flex align-items-center mb-30 mb-lg-0 w-p100">
                                <img src="{% static 'english.svg' %}" class="img-fluid max-w-150" alt="" />
                                <div class="ms-30">
                                    <h4 class="mb-10">English-Speaking-Technical-Communication-Skills </h4>
                                    <p class="mb-0 text-fade">Learn from India's best English teachers on phone. low cost English speaking course. Video Based. 80% video based lessons</p>
                                </div>
                            </div>
                            <!-- <div>
                                <button type="button" class="waves-effect waves-light w-p100 btn btn-primary" style="white-space: nowrap;">Start Now!</button>
                            </div> -->
                        </div>							
                    </div>
                </div>
            </div>
            
            <!-- <div class="box-header" style="margin-bottom: 20px;">
                <h4 class="box-title">English Traning</h4>
             </div>
             -->
           
               <!--  -->
               <div class="col-xl-4 col-12">
                <div class="box">
                  <div class="box-body pull-up" style="box-shadow: rgba(212, 210, 210, 0.2) 0px 2px 8px 0px;">
                    <div class="card pull-up" style="border: none;box-shadow:none">
                      <img class="card-img-top" style="height: 200px;" src="https://i.pinimg.com/originals/43/4b/6e/434b6e24b2521eb98197a50eed432e08.jpg" alt="Card image cap">
                      <div class="card" style="border: none;box-shadow:none;padding-top:10px">
                       <div style="text-align: center;" class="mt-3">
                        <h5 class="">Complete Technical
                          English Traning</h5>
                       </div>
                      <div class="row mt-3">
                        <div class="col-1" style="text-align: end;">
                        </div>
                        <div class="col-6"  >
                          <p class=""><i class="fa fa-clock-o" aria-hidden="true" style="color: #068bb0;"></i> 2:23:02 Mins</p>
                          <p class=""><i class="fa fa-caret-square-o-right" aria-hidden="true" style="color: #068bb0;"></i> 12 Parts</p>
                          <p class=""><i class="fa fa-language" aria-hidden="true" style="color: #068bb0;"></i> English</p>
                        </div>
                        <div class="col">
                            <div class="circular-progress circular-progress3">
                                <div class="value-container value-container3">0%</div>
                            </div>
                        </div>
                      </div>
                      <a class="btn btn-sucess" href="{% url 'technicalenglish' %}" style="background-color: #068bb0;color:white;font-weight:800;padding:10px ;width:200px;margin-left:20% ; margin-top:5%">Start Watching Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <!--  -->

              

              <!--  -->
              <div class="col-xl-4 col-12">
                <div class="box">
                  <div class="box-body pull-up" style="box-shadow: rgba(212, 210, 210, 0.2) 0px 2px 8px 0px;">
                    <div class="card pull-up" style="border: none;box-shadow:none">
                      <img class="card-img-top" style="height: 200px;" src="https://t4.ftcdn.net/jpg/01/00/10/83/360_F_100108325_4Ui6nYvoVkT1Wou0KE5XLsdaGNuoZsmT.jpg" alt="Card image cap">
                      <div class="card" style="border: none;box-shadow:none;padding-top:10px">
                       <div style="text-align: center;" class="mt-3">
                        <h5 class="">Complete Business
                            English Traning</h5>
                       </div>
                      <div class="row mt-3">
                        <div class="col-1" style="text-align: end;">
                        </div>
                        <div class="col-6"  >
                          <p class=""><i class="fa fa-clock-o" aria-hidden="true" style="color: #068bb0;"></i> 3:23:02 Mins</p>
                          <p class=""><i class="fa fa-caret-square-o-right" aria-hidden="true" style="color: #068bb0;"></i> 22 Parts</p>
                          <p class=""><i class="fa fa-language" aria-hidden="true" style="color: #068bb0;"></i> English</p>
                        </div>
                        <div class="col">
                            <div class="circular-progress circular-progress1">
                                <div class="value-container value-container1">0%</div>
                            </div>
                        </div>
                      </div>
                      <a class="btn btn-sucess" href="{% url 'technicalenglish' %}" style="background-color: #068bb0;color:white;font-weight:800;padding:10px ;width:200px;margin-left:20% ; margin-top:5%">Start Watching Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              <!--  -->

                <!--  -->
                <div class="col-xl-4 col-12">
                    <div class="box">
                      <div class="box-body pull-up" style="box-shadow: rgba(212, 210, 210, 0.2) 0px 2px 8px 0px;">
                        <div class="card pull-up" style="border: none;box-shadow:none">
                          <img class="card-img-top" style="height: 200px;" src="https://www.fitaacademy.in/includes/assets/img/blog/spoken-english.jpg" alt="Card image cap">
                          <div class="card" style="border: none;box-shadow:none;padding-top:10px">
                           <div style="text-align: center;" class="mt-3">
                            <h5 class="">Complete Spoken
                                English Traning</h5>
                           </div>
                          <div class="row mt-3">
                            <div class="col-1" style="text-align: end;">
                            </div>
                            <div class="col-6"  >
                              <p class=""><i class="fa fa-clock-o" aria-hidden="true" style="color: #068bb0;"></i> 5:23:02 Mins</p>
                              <p class=""><i class="fa fa-caret-square-o-right" aria-hidden="true" style="color: #068bb0;"></i> 12 Parts</p>
                              <p class=""><i class="fa fa-language" aria-hidden="true" style="color: #068bb0;"></i> English</p>
                            </div>
                            <div class="col">
                                <div class="circular-progress circular-progress2">
                                    <div class="value-container value-container2">0%</div>
                                </div>
                            </div>
                          </div>
                          <a class="btn btn-sucess" href="{% url 'technicalenglish' %}" style="background-color: #068bb0;color:white;font-weight:800;padding:10px ;width:200px;margin-left:20% ; margin-top:5%">Start Watching Now</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  <!--  -->
            
              
        </div>
       </section>
    </div>
</div>

<script>
    let progressBar = document.querySelector(".circular-progress");
  let valueContainer = document.querySelector(".value-container");
  
  let progressValue = 0;
  let progressEndValue = 2;
  let speed = 100;
  
  let progress = setInterval(() => {
    progressValue++;
    valueContainer.textContent = `${progressValue}%`;
    progressBar.style.background = `conic-gradient(
        #4d5bf9 ${progressValue * 3.6}deg,
        #cadcff ${progressValue * 3.6}deg
    )`;
    if (progressValue == progressEndValue) {
      clearInterval(progress);
    }
  }, speed);
  
  </script>

  <script>
    function createCircularProgress(selector, endValue, speed) {
        let progressBar = document.querySelector(selector);
        let valueContainer = progressBar.querySelector('.value-container');
        
        let progressValue = 0;
        
        let progress = setInterval(() => {
          progressValue++;
          valueContainer.textContent = `${progressValue}%`;
          progressBar.style.background = `conic-gradient(
              #4d5bf9 ${progressValue * 3.6}deg,
              #cadcff ${progressValue * 3.6}deg
          )`;
          if (progressValue == endValue) {
            clearInterval(progress);
          }
        }, speed);
      }
      createCircularProgress(".circular-progress1", 50, 50); 
      createCircularProgress(".circular-progress2", 75, 100); 
      createCircularProgress(".circular-progress3", 7, 100); 

  </script>

{% endblock content %}