{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
            <div class="box">
                <div class="box-body bg-img bbsr-0 bber-0" style="background-image: url(https://media.istockphoto.com/id/537331500/photo/programming-code-abstract-technology-background-of-software-deve.jpg?s=612x612&w=0&k=20&c=jlYes8ZfnCmD0lLn-vKvzQoKXrWaEcVypHnB5MuO-g8=);" data-overlay="5">
                    <div class="d-md-flex align-items-center text-white">
                        <div>
                            <h4 class="mb-0 text-white">Generate Workshop Certificate</h4>
                        </div>
                        <!-- <div class="ms-auto">
                            <a href="javascript: void(0)"><i class="mdi mdi-menu text-white fs-20"></i></a>
                        </div> -->
                    </div>
                    <form class="mt-30 mb-20">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Enter Your Unique Id or Your Email Id" aria-label="">
                            <button class="btn btn-primary-light" type="button"><i class="fa fa-download"></i></button>
                        </div>
                    </form>
                </div>
                <div class="box-body">
                    <div class="row my-20">
                        <div class="col-12 text-center">
                            <img src="https://cdn.educba.com/img/Free-HTML-Course-Certificate.jpg" alt="" class="img-fluid user-img">
                            <br>
                            <br>
                            <button class="btn btn-facebook text-white" style="background-color: rgb(17, 103, 195);"><i class="fa fa-linkedin ms-10"> </i> Linkedin </button>

                            <button class="btn btn-facebook text-white" style="background-color: rgb(7, 61, 72);"> Download <i class="fa fa-arrow-circle-o-down ms-10"> </i></button>

                        </div>
                        
                    </div>
                    <div class="row row-cols-2 g-2">
                        <!-- <div class="col text-center">								
                            <button class="btn btn-twitter text-white" style="background-color: rgb(13, 164, 154);">Invite from insta <i class="fa fa-twitter ms-10"></i></button>
                        </div> -->
                        <!-- <div class="col text-center">
                            <button class="btn btn-facebook text-white" style="background-color: rgb(3, 3, 86);">Facebook <i class="fa fa-facebook-f ms-10"></i></button>
                        </div> -->
                    </div>
                </div>
            </div>  
        </section>
    </div>
</div>


{% endblock content %}