<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action method="post">
        {% csrf_token %}
        <label for>Uploadfile</label>
        <input type="file" name="excelfile"> <br>
        <label for>Subject</label>
        <input type="text" name="subjectcontent"> <br>
        <label for>Body</label>
        <input type="text" name="bodycontent"> <br>
        <!-- <input type="file" name="excelfile"> <br> -->
        <button type="submit">Send Mail</button>
    </form>
</body>

</html>

