{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extra_css %}
<!-- <style xmlns="http://www.w3.org/1999/html">
    </style> -->
{% endblock %}


{% block page_title %}

{% endblock %}


{% block content %}
<div class="content-wrapper">
    <div class="container-full">
        <section class="content">
        
            <div class="box-header with-border">
                <h4 class="box-title">Uplad Topic</h4>
               
            </div>
            <div class="box-body">
            <form action="{% url 'espokentitleupload' %}" method="post">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Topic
                    </label>
                    <div class="col-md-6">
                        <input class="form-control"
                            type="text" name="title"
                            placeholder="Introduction to Grammar, Parts of Speech" required >
                    </div>
                </div>

                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">Sub Topic Cover
                    </label>
                    <div class="col-md-6">
                        <input class="form-control"
                            type="text" name="subtitle"
                            placeholder="Sub topic" required >
                    </div>
                </div>

                
                <div class="form-group row">
                    <label
                        class="col-form-label col-md-2">
                    </label>
                    <div class="col-md-6">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>

               
            </form>
            </div>

           
           
        </section>
    </div>
</div>

{% endblock content %}